<!DOCTYPE html>
<html lang="es">
<head>
	<title>Listado</title>
    <%- include('../partials/head'); %>
	<link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
	<header>
		<%- include('../partials/header'); %>
	</header>
	            <!-- Page header -->
	<div class="full-box page-header">
		<h3 class="text-left">
			<i class="fa fa-table-list"></i> &nbsp; LISTADO DE USUARIOS
		</h3>
	</div>
	<section>
		<table class="table_userlist">
			<thead>
				<tr>
					<th>ID</th>
					<th>Correo</th>
					<th>Nombre</th>
					<th>Rango</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < userlist.length; ++i) {%>
					<tr class="<%=userlist[i].rank%>"><td><%=userlist[i].id%></td><td><%=userlist[i].email%></td><td><%=userlist[i].name%> <%=userlist[i].lastname%></td>
						<td><%=userlist[i].rank === 'admin' ? 'Administrador' : userlist[i].rank === 'operator' ? 'Operador' : 'Usuario' %></td>
						<td>
						<a href="/admin/users/update?id=<%=userlist[i].id%>" class="btn btn-success">
							  <i class="fas fa-sync-alt"></i>	
						</a>
					</td>

					</tr><% } %>
				  
				</tbody>
		</table>
	</section>
	<section></section>
	<script src="./js/main.js" ></script>
</body>
</html>